<head-menu></head-menu>
<md-divider></md-divider>
<div class="wrap">
    <section layout="column" layout="space-around center" layout-gt-md="row" layout-wrap layout-align-gt-md="space-between start">
        <div class="card" flex-gt-md="45" ng-repeat="item in main.data">
            <md-card class="" layout="row">
                <div class="left-side" layout="column" flex="50">
                    <div class="top-side" flex="70" layout="column" ng-class=" item.temperature < 15 ? 'back-blue' : (item.temperature < 18 ? 'back-green' : ( item.temperature < 21 ? 'back-orang' : 'back-red'))">
                        <div class="head-main">{{item.room_type}}</div>
                        <div flex="10"></div>
                        <div layout="row" layout-align="center center">
                            <div class="big-value-g" flex="60">{{item.temperature}}&deg;C </div>
                            <div>DESIRED TEMPERATURE</div>
                        </div>
                    </div>
                    <div class="bott-side" flex="30" layout="column" flex="45" ng-class=" item.temperature < 15+2 ? 'back-blue' : (item.temperature < 18+2 ? 'back-green' : ( item.temperature < 21+2 ? 'back-orang' : 'back-red'))">
                        <div layout="row">
                            <div ng-if="item.comfort_active" class="big-value" flex="25">ON</div>
                            <div ng-if="!item.comfort_active" class="big-value" flex="25">OFF</div>
                            <div>UNTIL 16:30</div>
                        </div>
                        <div layout="row">
                            <div class="big-value" flex="20">{{item.temperature + 2}}&deg;C</div>
                            <div flex>CURRENT TEMPERATURE</div>
                        </div>
                    </div>
                </div>
                <div class="right-side" layout="column" layout="space-between center" flex="50">
                    <div flex="45" layout="row">
                        <md-button ng-click="main.schedule(item)" aria-label="red" layout="column">
                            <img src="assets/icon/i-c-o-s-c-h-e-d-u-l-e.svg" class="white"></img>
                            <span>SCHEDULE</span>
                        </md-button>
                        <md-button ng-click="main.edit(item)" aria-label="red" layout="column">
                            <img src="assets/icon/i-c-o-edit.svg" class="white"></img>
                            <span>EDIT</span>
                        </md-button>
                    </div>
                    <div flex="45" layout="row">
                        <md-button ng-click="main.history(item)" aria-label="red" layout="column">
                            <img src="assets/icon/i-c-o-h-i-s-t-o-r-y-i-c-o-n.svg" class="white"></img>
                            <span>HISTORY</span>
                        </md-button>
                        <md-button ng-click="main.swapComfort(item)" aria-label="red" layout="column">
                            <img ng-if="!item.comfort_active" src="assets/icon/i-c-o-b-o-o-s-t-i-c-o.svg" class="white"></img>
                            <img ng-if="item.comfort_active" src="assets/icon/i-c-o-b-o-o-s-t-i-c-o-n-a-c-t-i-v-e.svg" class="white"></img>
                            <span>BOOTS</span>
                        </md-button>
                    </div>
                </div>
            </md-card>
        </div>
        <!--<div class="card" flex-gt-md="45" ng-repeat="item in main.data">
            <div layout="row">
                <div flex="15"></div>
                <h1 flex="45">Name</h1>
            </div>
            <md-card layout="row">
                <div class="left-card background-card-{{($index) % 4}}" layout="column" layout-align="center center" flex="50">
                    <div class="row-stat" layout="row" layout-align="center center">
                        <md-icon flex="5" md-svg-src="assets/icons/delete.svg" class="white"></md-icon>
                        <span flex="60">CURRENT TEMPERATURE</span>
                        <div class="big-value" flex="25">{{item.temperature}}&deg;C </div>
                    </div>
                    <md-divider></md-divider>
                    <div class="row-stat" layout="row" layout-align="center center">
                        <md-icon flex="5" md-svg-src="assets/icons/delete.svg" class="white"></md-icon>
                        <span flex="60">CURRENT OCCUPANCY</span>
                        <div class="big-value" flex="25">30 %</div>
                    </div>
                    <md-divider></md-divider>
                    <div class="row-stat" layout="row" layout-align="center center">
                        <md-icon flex="5" md-svg-src="assets/icons/delete.svg" class="white"></md-icon>
                        <span flex="60">APP MODE</span>
                        <div ng-if="item.comfort_active" class="big-value" flex="25">ON</div>
                        <div ng-if="!item.comfort_active" class="big-value" flex="25">OFF</div>
                    </div>
                </div>
                <div class="right-card-{{($index) % 4}}" flex="50" layout="row">
                    <div flex="80" layout="column" layout-align="center center">
                        <span class="desired-temperature" layout="row">
                            DESIRED TEMPERATURE
                        </span>
                        <div class="big-degree">
                            {{item.temperature.comfort_status}}&deg;C {{main.getDesired(item)}}
                        </div>
                    </div>
                    <div flex="20" layout="column" layout-align="center center">
                        <md-button ng-disabled="item.comfort_active" class="md-fab md-mini" ng-click="main.swapComfort(item,false)" aria-label="red">
                            <md-icon md-svg-src="assets/icon/i-c-o-edit.svg" class="white"></md-icon>
                        </md-button>
                        <md-button ng-disabled="!item.comfort_active" class="md-fab md-mini" ng-click="main.swapComfort(item,false)" aria-label="red">
                            <md-icon md-svg-src="assets/icons/archive.svg" class="white"></md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini" ng-click="main.edit(item)"  aria-label="red">
                            <md-icon md-svg-src="assets/icons/edit.svg" class="white"></md-icon>
                        </md-button>
                    </div>
                </div>
            </md-card>
        </div>-->
    </section>
</div>