<div class="temp-dialog" ng-class=" value < 15 ? 'blue-temp-dialog' : (value < 18 ? 'green-temp-dialog' : ( value < 21 ? 'orange-temp-dialog' : 'red-temp-dialog'))" ng-cloak layout="row" layout-align="center stretch">
    <div layout="column" layout-align="center center">
        <div class="temp-head" layout="column" layout-align="center center">
            <h4>LIVING ROOM</h4>
            <div>DESIRED TEMPERATURE</div>
            <div class="big-value" flex="25">{{value}}&deg;C </div>
            <md-divider></md-divider>
            <div>CURRENT TEMPERATURE 18&deg;C</div>
        </div>
        <div flex="20"></div>
        <div layout="row">
            <md-input-container layout="column" layout-align="center center">
                <md-button ng-click="answer()"  aria-label="red">OK</md-button>
            </md-input-container>
            <md-input-container ng-click="cancel()" layout="column" layout-align="center center">
                <md-button aria-label="red">CANCEL</md-button>
            </md-input-container>
        </div>
    </div>
    <md-content layout-padding layout="column" layout-align="center center">
        <div flex layout="column" layout-align="center stretch">
            <div flex="15"></div>
            <md-slider-container ng-disabled="readonly">
                   <md-slider ng-class=" value < 15 ? 'blue-slider' : (value < 18 ? 'green-slider' : ( value < 21 ? 'orange-slider' : 'red-slider'))" class="red-slider" id="red-slider" flex="" min="12" max="30" ng-model="value" aria-label="red"  md-vertical>
            </md-slider-container>
        </div>
    </md-content>
</div>