<div class="wrap">
    <div ng-controller="AppCtrl">

        <section layout="row" flex>


            <md-sidenav class="md-sidenav-left" style="background:#1d5183; opacity: 0.9;" md-component-id="left" md-disable-backdrop
                md-whiteframe="4">

                <md-toolbar class="toolbar" style="background: #1d5183;" layout="column" layout-align="start start">
                    <div>
                        <md-icon md-svg-src="assets/icons/list.svg" class="white"></md-icon>
                        <a style="margin-left: 50px;" href="/">DESHBORD</a>
                    </div>
                    <a style="font-weight: bold;" ui-sref="schedule">SCHADULE</a>
                    <a>BATTERY</a>
                    <a>SOLAR</a>
                    <a>MOTIONS SENDSORS</a>
                    <a>OCCUPANCY</a>
                </md-toolbar>

                <md-content layout-margin style="background:#1d5183; opacity: 0.9;">
                    <md-button ng-click="toggleLeft()" class="md-accent">
                        <md-icon md-svg-src="assets/icons/close.svg" class="white"></md-icon>
                    </md-button>
                </md-content>

            </md-sidenav>

            <md-content flex layout-padding style="background: aliceblue;">

                <div layout="row" layout-align="start center">
                    <md-button ng-click="toggleLeft()" class="md-icon-button">
                        <md-icon md-svg-src="assets/icons/list.svg" class="white"></md-icon>
                    </md-button>
                    <h3>SCHADULE</h3>
                </div>

            </md-content>

        </section>

    </div>
    <div class="schedul-wrap wrap" layout="row" layout-align="space-around stretch" layout-align-xs="space-between stretch" layout-align-sm="space-between stretch">
        <div flex="15" flex-sm="25" flex-xs="45" class="schedul" ng-repeat="item in schedule.hours">
            <div class="head-schedul" ng-style="{'color': '#c46a56'}" layout="column" layout-align="center center">
                <div class="day-schedul" layout="row" layout-align="start center">Day {{$index + 1}}
                    <md-button class="md-fab md-mini" ng-click="main.edit(item)">
                        <md-icon md-svg-src="assets/icons/edit.svg" class="white"></md-icon>
                    </md-button>
                </div>
                <div class="big-value-schedul">23&deg;C</div>
                <div class="disc">DESIRED TEMP</div>
            </div>
            <md-content class="card-wrap">
                <div class="card-schedul" ng-repeat="hour in item" layout="column" layout-align="center stretch">
                    <div class="min-schedul" ng-repeat="min in hour.min track by $index" style="background-color: {{min || '#677274'}}" layout="column"
                        layout-align="center stretch">
                        <div ng-if="$index == 3" layout="row" layout-align="start  center">
                            <span flex="70">{{hour.h}}:00</span>
                            <hr flex="30">
                        </div>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</div>