<div class="login" layout="column" layout-align="space-between center">
    <div flex="10"></div>
    <div class="content" layout="column" layout-align="space-between stretch">
        <div flex="30" class="head" layout="column" layout-align="center center">
            <img src="assets/logo.png">
            <img class="switch" src="assets/switch.png">
        </div>
        <div class="wrap-input" flex="10">
            <input ng-model="email" type="email" placeholder="Username">
        </div>
        <div class="wrap-input" flex="10">
            <input ng-model="password" type="password" placeholder="Password">
        </div>
        <div>
            <md-input-container layout="column" layout-align="center center">
                <md-button class="md-raised" ng-click="login.login(email, password)">LOG IN</md-button>
            </md-input-container>
            <md-input-container layout="column" layout-align="center center">
                <md-button class="md-raised" ng-click="login.login(email, password)">REGISTER</md-button>
            </md-input-container>
        </div>

        <div class="bott-disc">Need help logging in?</div>
        <!--<md-input-container>
            <label>Email</label>
            <input ng-model="email" type="email" ng-required="true">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input ng-model="password" type="password" ng-required="true">
        </md-input-container>
        <md-input-container layout="column" layout-align="center center">
            <md-button class="md-raised" ng-click="login.login(email, password)">&#8594; Login</md-button>
            <md-button class="md-raised">Button</md-button>
            <md-button class="md-raised">Button</md-button>
        </md-input-container>-->
    </div>
    <div flex="10"></div>

</div>
<div layout="column" layout-align="space-between center">
    <div flex layout="row" class="real-wrap">
        <span>In association with: </span>
        <img src="assets/real.png">
    </div>
    <md-divider></md-divider>
    <div flex="40" layout="row" class="flag-wrap" layout-align-xs="start center">
        <div hide-xs flex="30"></div>
        <span flex="30" flex-xs="50">This projet has received functiong from the European Union`s Horizon 2020 research and innovation programme under grant agreement No 646116</span>
        
        <img src="assets/flag.png">
    </div>
</div>